:root {

    --bg-main:
        #000000;

    --bg-secondary:
        #1f1f1f;

    --text-main:
        #ffffff;

    --text-muted:
        #888888;

    --highlight:
        #FDAF45;

    --font-heading:
        'Playfair Display',
        serif;

    --font-body:
        'Inter',
        sans-serif;

}