<style>

/* ==================================================
   AUREN FOOTER
   MOBILE REFERENCE MATCH
================================================== */

.footer {

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;

    background:
        #1f1f1f;

    border-top:
        1px solid
        rgba(
            255,
            255,
            255,
            0.06
        );

    padding:
        58px 5% 22px;

}


/* ==================================================
   FOOTER INNER
================================================== */

.footer-inner {

    width: 100%;

    max-width:
        1320px;

    margin:
        0 auto;

    display:
        flex;

    justify-content:
        space-between;

    align-items:
        flex-start;

}


/* ==================================================
   LOGO
================================================== */

.footer-brand {

    flex:
        0 0 auto;

}


.footer-logo {

    display:
        inline-block;

}


.footer-logo img {

    display:
        block;

    width:
        auto;

    height:
        200px;

    object-fit:
        contain;

}


/* ==================================================
   FOOTER LINKS
================================================== */

.footer-links {

    display:
        flex;

    align-items:
        flex-start;

    justify-content:
        flex-end;

    gap:
        80px;

}


.footer-column {

    width:
        145px;

    display:
        flex;

    flex-direction:
        column;

    gap:
        10px;

}


.footer-column h4 {

    margin:
        0 0 8px;

    padding:
        0;

    color:
        #ffffff;

    font-family:
        var(--font-body);

    font-size:
        0.72rem;

    font-weight:
        500;

    line-height:
        1.2;

    letter-spacing:
        1.5px;

    text-transform:
        uppercase;

}


.footer-column a {

    display:
        block;

    width:
        fit-content;

    color:
        #818181;

    font-family:
        var(--font-body);

    font-size:
        0.78rem;

    font-weight:
        400;

    line-height:
        1.4;

    text-decoration:
        none;

    transition:
        color 0.25s ease;

}


.footer-column a:hover {

    color:
        #ffffff;

}


/* ==================================================
   COPYRIGHT
================================================== */

.footer-bottom {

    width:
        100%;

    max-width:
        1320px;

    margin:
        45px auto 0;

    padding-top:
        17px;

    border-top:
        1px solid
        rgba(
            255,
            255,
            255,
            0.08
        );

}


.footer-bottom p {

    margin:
        0;

    color:
        #727272;

    font-family:
        var(--font-body);

    font-size:
        0.68rem;

    font-weight:
        400;

    line-height:
        1.5;

}


/* ==================================================
   TABLET
================================================== */

@media (max-width: 1024px) {

    .footer {

        padding:
            65px 5% 25px;

    }


    .footer-logo img {

        height:
            105px;

    }


    .footer-links {

        gap:
            50px;

    }


    .footer-column {

        width:
            135px;

    }

}


/* ==================================================
   MOBILE
   MATCH THE PROVIDED SCREENSHOT
================================================== */

@media (max-width: 767px) {

    .footer {

        width:
            100%;

        padding:
            55px 5% 20px;

        background:
            #1f1f1f;

    }


    .footer-inner {

        width:
            100%;

        display:
            flex;

        flex-direction:
            row;

        align-items:
            flex-start;

        justify-content:
            space-between;

        gap:
            12px;

    }


    /* ------------------------------------------
       LOGO
    ------------------------------------------ */

    .footer-brand {

        width:
            24%;

        flex:
            0 0 24%;

    }


    .footer-logo {

        display:
            block;

        width:
            100%;

    }


    .footer-logo img {

        width:
            100%;

        max-width:
            92px;

        height:
            auto;

        object-fit:
            contain;

    }


    /* ------------------------------------------
       COLUMNS
    ------------------------------------------ */

    .footer-links {

        width:
            72%;

        display:
            grid;

        grid-template-columns:
            repeat(
                3,
                minmax(
                    0,
                    1fr
                )
            );

        gap:
            10px;

        align-items:
            start;

        justify-content:
            stretch;

    }


    .footer-column {

        width:
            100%;

        display:
            flex;

        flex-direction:
            column;

        gap:
            7px;

    }


    .footer-column h4 {

        margin:
            0 0 7px;

        font-size:
            0.57rem;

        letter-spacing:
            1.15px;

        line-height:
            1.2;

    }


    .footer-column a {

        width:
            100%;

        color:
            #7d7d7d;

        font-size:
            0.58rem;

        line-height:
            1.45;

        white-space:
            nowrap;

    }


    /* ------------------------------------------
       COPYRIGHT
    ------------------------------------------ */

    .footer-bottom {

        width:
            100%;

        margin:
            40px auto 0;

        padding-top:
            14px;

    }


    .footer-bottom p {

        font-size:
            0.55rem;

        line-height:
            1.5;

        color:
            #707070;

    }

}


/* ==================================================
   SMALL PHONES
================================================== */

@media (max-width: 480px) {

    .footer {

        padding:
            50px 5% 18px;

    }


    .footer-inner {

        gap:
            8px;

    }


    .footer-brand {

        width:
            23%;

        flex-basis:
            23%;

    }


    .footer-logo img {

        max-width:
            82px;

    }


    .footer-links {

        width:
            74%;

        gap:
            7px;

    }


    .footer-column {

        gap:
            6px;

    }


    .footer-column h4 {

        font-size:
            0.54rem;

        letter-spacing:
            1px;

    }


    .footer-column a {

        font-size:
            0.54rem;

    }


    .footer-bottom {

        margin-top:
            36px;

        padding-top:
            13px;

    }


    .footer-bottom p {

        font-size:
            0.52rem;

    }

}


/* ==================================================
   VERY SMALL PHONES
================================================== */

@media (max-width: 360px) {

    .footer {

        padding:
            46px 4.5% 17px;

    }


    .footer-brand {

        width:
            22%;

        flex-basis:
            22%;

    }


    .footer-logo img {

        max-width:
            76px;

    }


    .footer-links {

        width:
            75%;

        gap:
            5px;

    }


    .footer-column h4 {

        font-size:
            0.50rem;

    }


    .footer-column a {

        font-size:
            0.50rem;

    }


    .footer-bottom {

        margin-top:
            32px;

    }


    .footer-bottom p {

        font-size:
            0.48rem;

    }

}

</style>


<!-- ==================================================
     FOOTER
================================================== -->

<footer class="footer">


    <!-- ==================================================
         FOOTER INNER
    ================================================== -->

    <div class="footer-inner">


        <!-- ==================================================
             LOGO
        ================================================== -->

        <div class="footer-brand">

            <a
                href="index.html"
                class="footer-logo"
                aria-label="Auren Originals Home"
            >

                <img
                    id="site-logo-footer"
                    src="https://res.cloudinary.com/uye4ufpk/image/upload/v1787215613/logo.png"
                    alt="Auren Originals"
                    loading="lazy"
                >

            </a>

        </div>


        <!-- ==================================================
             LINKS
        ================================================== -->

        <div class="footer-links">


            <!-- ==============================================
                 SERVICES
            =============================================== -->

            <div class="footer-column">

                <h4>
                    Services
                </h4>


                <a
                    href="service.html"
                >
                    Photography
                </a>


                <a
                    href="service.html"
                >
                    Branding
                </a>


                <a
                    href="service.html"
                >
                    Creative Direction
                </a>


                <a
                    href="service.html"
                >
                    Digital Marketing
                </a>

            </div>


            <!-- ==============================================
                 COMPANY
            =============================================== -->

            <div class="footer-column">

                <h4>
                    Company
                </h4>


                <a
                    href="about.html"
                >
                    About
                </a>


                <a
                    href="about.html"
                >
                    Team
                </a>


                <a
                    href="contact.html"
                >
                    Careers
                </a>


                <a
                    href="portfolio.html"
                >
                    Blog
                </a>

            </div>


            <!-- ==============================================
                 CONNECT
            =============================================== -->

            <div class="footer-column">

                <h4>
                    Connect
                </h4>


                <a
                    href="https://instagram.com/auren.originals"
                    target="_blank"
                    rel="noopener noreferrer"
                >
                    Instagram
                </a>

            </div>

        </div>

    </div>


    <!-- ==================================================
         COPYRIGHT
    ================================================== -->

    <div class="footer-bottom">

        <p>
            © 2026 Auren Originals.
            All rights reserved.
        </p>

    </div>


</footer>